-- MySQL dump 10.13  Distrib 9.5.0, for Win64 (x86_64)
--
-- Host: localhost    Database: asignaciondb
-- ------------------------------------------------------
-- Server version	9.5.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ 'd2f76b1d-bb2c-11f0-97df-54a050557c0c:1-107';

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('5de5684db8f4');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ambientes`
--

DROP TABLE IF EXISTS `ambientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ambientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) NOT NULL,
  `tipoid` int NOT NULL,
  `capacidad` int NOT NULL,
  `equipamiento` varchar(255) DEFAULT NULL,
  `ubicacion` varchar(100) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `tipoid` (`tipoid`),
  CONSTRAINT `ambientes_ibfk_1` FOREIGN KEY (`tipoid`) REFERENCES `tipoambiente` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ambientes`
--

LOCK TABLES `ambientes` WRITE;
/*!40000 ALTER TABLE `ambientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ambientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aprobaciones`
--

DROP TABLE IF EXISTS `aprobaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `aprobaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reservaid` int DEFAULT NULL,
  `aprobadorid` int DEFAULT NULL,
  `tipoaprobador` enum('DOCENTE','COORDINADOR','SOPORTETI','PROGRAMACION','ADMINISTRADOR','INVITADO') DEFAULT NULL,
  `estado` enum('PENDIENTE','APROBADO','RECHAZADO') DEFAULT NULL,
  `fecha_respuesta` datetime DEFAULT NULL,
  `comentario` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `aprobadorid` (`aprobadorid`),
  KEY `reservaid` (`reservaid`),
  CONSTRAINT `aprobaciones_ibfk_1` FOREIGN KEY (`aprobadorid`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `aprobaciones_ibfk_2` FOREIGN KEY (`reservaid`) REFERENCES `reservas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aprobaciones`
--

LOCK TABLES `aprobaciones` WRITE;
/*!40000 ALTER TABLE `aprobaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `aprobaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignacion_curso_docente`
--

DROP TABLE IF EXISTS `asignacion_curso_docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignacion_curso_docente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `asignacion_id` int DEFAULT NULL,
  `curso_id` int DEFAULT NULL,
  `docente_id` int DEFAULT NULL,
  `seccion` int DEFAULT NULL,
  `es_bloque` tinyint(1) DEFAULT NULL,
  `bloque` varchar(1) DEFAULT NULL,
  `duplica_horas` tinyint(1) DEFAULT NULL,
  `comentario` text,
  `disponibilidad` varchar(50) DEFAULT NULL,
  `activo` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `asignacion_id` (`asignacion_id`),
  KEY `curso_id` (`curso_id`),
  KEY `docente_id` (`docente_id`),
  KEY `ix_asignacion_curso_docente_id` (`id`),
  CONSTRAINT `asignacion_curso_docente_ibfk_1` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`),
  CONSTRAINT `asignacion_curso_docente_ibfk_2` FOREIGN KEY (`curso_id`) REFERENCES `cursos` (`id`),
  CONSTRAINT `asignacion_curso_docente_ibfk_3` FOREIGN KEY (`docente_id`) REFERENCES `docentes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion_curso_docente`
--

LOCK TABLES `asignacion_curso_docente` WRITE;
/*!40000 ALTER TABLE `asignacion_curso_docente` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignacion_curso_docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignacion_seccion`
--

DROP TABLE IF EXISTS `asignacion_seccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignacion_seccion` (
  `asignacion_id` int NOT NULL,
  `seccion_id` int NOT NULL,
  PRIMARY KEY (`asignacion_id`,`seccion_id`),
  KEY `seccion_id` (`seccion_id`),
  CONSTRAINT `asignacion_seccion_ibfk_1` FOREIGN KEY (`asignacion_id`) REFERENCES `asignaciones` (`id`),
  CONSTRAINT `asignacion_seccion_ibfk_2` FOREIGN KEY (`seccion_id`) REFERENCES `seccion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignacion_seccion`
--

LOCK TABLES `asignacion_seccion` WRITE;
/*!40000 ALTER TABLE `asignacion_seccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignacion_seccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asignaciones`
--

DROP TABLE IF EXISTS `asignaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asignaciones` (
  `id` int NOT NULL AUTO_INCREMENT,
  `carreraid` int DEFAULT NULL,
  `plan` varchar(10) NOT NULL,
  `ciclo` varchar(10) NOT NULL,
  `modalidad` varchar(20) DEFAULT NULL,
  `cantidad_secciones` int DEFAULT NULL,
  `seccion_asignada` tinyint(1) DEFAULT NULL,
  `nombreseccion` varchar(10) DEFAULT NULL,
  `estado` tinyint(1) DEFAULT NULL,
  `fecha_asignacion` datetime DEFAULT NULL,
  `fecha_modificada` datetime DEFAULT NULL,
  `fecha_inicio` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_asignaciones_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asignaciones`
--

LOCK TABLES `asignaciones` WRITE;
/*!40000 ALTER TABLE `asignaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `asignaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bitacorareservas`
--

DROP TABLE IF EXISTS `bitacorareservas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bitacorareservas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reserva_id` int DEFAULT NULL,
  `accion` varchar(100) DEFAULT NULL,
  `realizadopor` int DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `comentario` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `reserva_id` (`reserva_id`),
  CONSTRAINT `bitacorareservas_ibfk_1` FOREIGN KEY (`reserva_id`) REFERENCES `reservas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bitacorareservas`
--

LOCK TABLES `bitacorareservas` WRITE;
/*!40000 ALTER TABLE `bitacorareservas` DISABLE KEYS */;
/*!40000 ALTER TABLE `bitacorareservas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `carrera`
--

DROP TABLE IF EXISTS `carrera`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `carrera` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) DEFAULT NULL,
  `nomenglatura` varchar(1) DEFAULT NULL,
  `status` tinyint(1) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nomenglatura` (`nomenglatura`),
  KEY `ix_carrera_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `carrera`
--

LOCK TABLES `carrera` WRITE;
/*!40000 ALTER TABLE `carrera` DISABLE KEYS */;
/*!40000 ALTER TABLE `carrera` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cursos`
--

DROP TABLE IF EXISTS `cursos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cursos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `codigo` varchar(50) DEFAULT NULL,
  `modalidad` varchar(30) DEFAULT NULL,
  `nombre` varchar(500) DEFAULT NULL,
  `horas` int DEFAULT NULL,
  `ciclo` varchar(50) DEFAULT NULL,
  `plan` varchar(10) DEFAULT NULL,
  `carreid` int DEFAULT NULL,
  `estado` tinyint(1) DEFAULT NULL,
  `horasasignadas` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `carreid` (`carreid`),
  CONSTRAINT `cursos_ibfk_1` FOREIGN KEY (`carreid`) REFERENCES `carrera` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cursos`
--

LOCK TABLES `cursos` WRITE;
/*!40000 ALTER TABLE `cursos` DISABLE KEYS */;
/*!40000 ALTER TABLE `cursos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `disponibilidad_docente`
--

DROP TABLE IF EXISTS `disponibilidad_docente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `disponibilidad_docente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `docente_id` int NOT NULL,
  `dia` varchar(20) NOT NULL,
  `modalidad` varchar(20) NOT NULL,
  `turno` varchar(10) NOT NULL,
  `horarios` json DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `docente_id` (`docente_id`),
  KEY `ix_disponibilidad_docente_id` (`id`),
  CONSTRAINT `disponibilidad_docente_ibfk_1` FOREIGN KEY (`docente_id`) REFERENCES `docentes` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `disponibilidad_docente`
--

LOCK TABLES `disponibilidad_docente` WRITE;
/*!40000 ALTER TABLE `disponibilidad_docente` DISABLE KEYS */;
/*!40000 ALTER TABLE `disponibilidad_docente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `docentes`
--

DROP TABLE IF EXISTS `docentes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `docentes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `codigo` varchar(20) NOT NULL,
  `estado` tinyint(1) DEFAULT NULL,
  `correo` varchar(50) NOT NULL,
  `tipocontrato` varchar(50) NOT NULL,
  `horassemanal` int NOT NULL,
  `horasactual` int DEFAULT NULL,
  `horastemporales` int DEFAULT NULL,
  `horastotales` int DEFAULT NULL,
  `horasdejara` int DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `ix_docentes_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `docentes`
--

LOCK TABLES `docentes` WRITE;
/*!40000 ALTER TABLE `docentes` DISABLE KEYS */;
/*!40000 ALTER TABLE `docentes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eventosespeciales`
--

DROP TABLE IF EXISTS `eventosespeciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eventosespeciales` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reservaid` int DEFAULT NULL,
  `nombreevento` varchar(100) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `horainicio` varchar(5) DEFAULT NULL,
  `horafin` varchar(5) DEFAULT NULL,
  `organizador` varchar(100) DEFAULT NULL,
  `observaciones` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `reservaid` (`reservaid`),
  CONSTRAINT `eventosespeciales_ibfk_1` FOREIGN KEY (`reservaid`) REFERENCES `reservas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eventosespeciales`
--

LOCK TABLES `eventosespeciales` WRITE;
/*!40000 ALTER TABLE `eventosespeciales` DISABLE KEYS */;
/*!40000 ALTER TABLE `eventosespeciales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `horarios`
--

DROP TABLE IF EXISTS `horarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `horarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ambienteid` int DEFAULT NULL,
  `cursoid` int DEFAULT NULL,
  `horas` int DEFAULT NULL,
  `diasemana` varchar(15) DEFAULT NULL,
  `horainicio` varchar(5) DEFAULT NULL,
  `horafin` varchar(5) DEFAULT NULL,
  `docenteid` int DEFAULT NULL,
  `seccionid` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ambienteid` (`ambienteid`),
  KEY `cursoid` (`cursoid`),
  KEY `docenteid` (`docenteid`),
  KEY `seccionid` (`seccionid`),
  CONSTRAINT `horarios_ibfk_1` FOREIGN KEY (`ambienteid`) REFERENCES `ambientes` (`id`),
  CONSTRAINT `horarios_ibfk_2` FOREIGN KEY (`cursoid`) REFERENCES `cursos` (`id`),
  CONSTRAINT `horarios_ibfk_3` FOREIGN KEY (`docenteid`) REFERENCES `docentes` (`id`),
  CONSTRAINT `horarios_ibfk_4` FOREIGN KEY (`seccionid`) REFERENCES `seccion` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `horarios`
--

LOCK TABLES `horarios` WRITE;
/*!40000 ALTER TABLE `horarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `horarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservas`
--

DROP TABLE IF EXISTS `reservas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `solicitante_id` int NOT NULL,
  `aprobador_id` int DEFAULT NULL,
  `ambiente_id` int DEFAULT NULL,
  `tipo_evento_id` int DEFAULT NULL,
  `motivo` varchar(255) DEFAULT NULL,
  `fecha` datetime DEFAULT NULL,
  `hora_inicio` datetime DEFAULT NULL,
  `hora_fin` datetime DEFAULT NULL,
  `estado` enum('PENDIENTE','APROBADA','RECHAZADA') DEFAULT NULL,
  `fecha_solicitud` datetime DEFAULT NULL,
  `fecha_respuesta` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ambiente_id` (`ambiente_id`),
  KEY `aprobador_id` (`aprobador_id`),
  KEY `solicitante_id` (`solicitante_id`),
  KEY `tipo_evento_id` (`tipo_evento_id`),
  CONSTRAINT `reservas_ibfk_1` FOREIGN KEY (`ambiente_id`) REFERENCES `ambientes` (`id`),
  CONSTRAINT `reservas_ibfk_2` FOREIGN KEY (`aprobador_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `reservas_ibfk_3` FOREIGN KEY (`solicitante_id`) REFERENCES `usuarios` (`id`),
  CONSTRAINT `reservas_ibfk_4` FOREIGN KEY (`tipo_evento_id`) REFERENCES `tiposevento` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservas`
--

LOCK TABLES `reservas` WRITE;
/*!40000 ALTER TABLE `reservas` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `ix_roles_id` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seccion`
--

DROP TABLE IF EXISTS `seccion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seccion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(10) DEFAULT NULL,
  `carreraid` int DEFAULT NULL,
  `ciclo` int DEFAULT NULL,
  `letra` varchar(1) DEFAULT NULL,
  `turno` varchar(1) DEFAULT NULL,
  `serie` int DEFAULT NULL,
  `modalidad` varchar(20) DEFAULT NULL,
  `fecha_creacion` date DEFAULT NULL,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `estado` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `carreraid` (`carreraid`),
  KEY `ix_seccion_id` (`id`),
  CONSTRAINT `seccion_ibfk_1` FOREIGN KEY (`carreraid`) REFERENCES `carrera` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seccion`
--

LOCK TABLES `seccion` WRITE;
/*!40000 ALTER TABLE `seccion` DISABLE KEYS */;
/*!40000 ALTER TABLE `seccion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipoambiente`
--

DROP TABLE IF EXISTS `tipoambiente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipoambiente` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) NOT NULL,
  `colorhex` varchar(7) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipoambiente`
--

LOCK TABLES `tipoambiente` WRITE;
/*!40000 ALTER TABLE `tipoambiente` DISABLE KEYS */;
/*!40000 ALTER TABLE `tipoambiente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tiposevento`
--

DROP TABLE IF EXISTS `tiposevento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tiposevento` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tiposevento`
--

LOCK TABLES `tiposevento` WRITE;
/*!40000 ALTER TABLE `tiposevento` DISABLE KEYS */;
/*!40000 ALTER TABLE `tiposevento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `correo` varchar(100) NOT NULL,
  `foto_url` varchar(255) DEFAULT NULL,
  `email_verificado` tinyint(1) DEFAULT NULL,
  `rolid` int DEFAULT NULL,
  `estado` tinyint(1) DEFAULT NULL,
  `fechacreacion` datetime DEFAULT NULL,
  `fechaactualizacion` datetime DEFAULT NULL,
  `calle_tipo` varchar(20) DEFAULT NULL,
  `calle_nombre` varchar(100) DEFAULT NULL,
  `calle_numero` varchar(10) DEFAULT NULL,
  `ciudad` varchar(50) DEFAULT NULL,
  `departamento` varchar(50) DEFAULT NULL,
  `telefono` varchar(20) DEFAULT NULL,
  `contacto_nombre` varchar(50) DEFAULT NULL,
  `contacto_numero` varchar(20) DEFAULT NULL,
  `correo_alternativo` varchar(100) DEFAULT NULL,
  `cod_docente` varchar(5) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `correo` (`correo`),
  KEY `rolid` (`rolid`),
  CONSTRAINT `usuarios_ibfk_1` FOREIGN KEY (`rolid`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-06 12:56:00
